.l-main-section
  h2 Angular 프로젝트
  p 우리는 당신이 우리의 소스 코드에 기여하고 Angular 프로젝트를 지금보다 더 좋게 만든다면 더할 나위없이 좋을 것입니다.

  .l-sub-section
    h3 Angular 2

    p 현재 베타가 진행 중인 Angular 2는 차세대 모바일 그리고 데스크톱 애플리케이션 개발 플랫폼입니다.

    a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Angular 2에 기여하세요

  .l-sub-section
    h3 JavaScript 혹은 Dart 기반의 Angular

    p Angular는 모바일과 데스크톱 애플리케이션을 위한 개발 플랫폼입니다.

    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Angular for JS에 기여하세요

    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Angular for DART에 기여하세요

  .l-sub-section
    h3 Angular Material

    p 우리의 목표는 Angular 기반의 단일 페이지 애플리케이션(SPA)에서 사용될 material 디자인 스펙을 구현하는 Angular 기반의 군살없이 가벼운 UI 요소들을 제공하는 것입니다.

    a(href="https://github.com/angular/material/blob/master/CONTRIBUTING.md" class="button" md-button) Angular Material에 기여하세요

  .l-sub-section
    h3 AngularFire

    p AngularFire는 Angular의 Firebase 바인딩을 공식적으로 지원합니다. Firebase는 완전한 백엔드라서 Angular 앱을 만들기 위해 서버를 필요로 하지 않습니다.

    a(href="https://github.com/firebase/angularFire" class="button" md-button) AngularFire에 기여하세요
