div(class="presskit-container l-space-neg-top-8")
  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 ANGULAR 로고
        p 이 페이지에서 다운로드 가능한 로그 그래픽은 <a class="cc-by-anchor" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> 내에서 제공됩니다. 이것은 셔츠에 인쇄한다던지, 자신이 직접 변형시킨다던지, 배꼽 위에 문신으로 새긴다던지, 당신이 하고자 하는 것은 무엇이든지 할 수 있음을 의미합니다.
        p 혼선을 막고자 다른 컨텍스트 내에 사용되고 있는 나머지 사이트 그래픽들은 사용하지 말아줄 것을 부탁드립니다.

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        img(src="resources/images/logos/angular2/angular.svg")
      div
        h3(class="l-space-left-3") 풀 컬러 로고
        ul(class="l-space-left-3")
          li
            span Angular 로고 (png) - <a href="resources/images/logos/angular2/angular.png" download>Download</a>
          li
            span Angular 로고 (svg) - <a href="resources/images/logos/angular2/angular.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_solidBlack.svg")
      div
        h3(class="l-space-left-3") 원 컬러 로고
        ul(class="l-space-left-3")
          li
            span Angular 로고 Black (png) - <a href="resources/images/logos/angular2/angular_solidBlack.png" download>Download</a>
          li
            span Angular 로고 Black (svg) - <a href="resources/images/logos/angular2/angular_solidBlack.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div(class="presskit-image-container")
        div
          img(src="resources/images/logos/angular2/angular_whiteTransparent.svg" class="transparent-img-bg")
      div
        h3(class="l-space-left-3") 원 컬러 인버스 로고
        ul(class="l-space-left-3")
          li
            span Angular 로고 흰색 반투명 (png) - <a href="resources/images/logos/angular2/angular_whiteTransparent.png" download>Download</a>
          li
            span Angular 로고 반투명 (svg) - <a href="resources/images/logos/angular2/angular_whiteTransparent.svg" download>Download</a>

  div(class="presskit-row")
    div(class="presskit-inner")
      div
        h2 출판과 미디어
        p
          출판과 미디어에 관련된 질문들은|<a href="mailto:press@angular.io">press@angular.io</a>을 통해 해주시기 바랍니다.
