include ../_util-fns 

// #docregion cookbook
:marked
  # Angular 2 쿡북
  
  이 *쿡북*은 구현에 있어 일반적인 질문에 대한 답변을 제공합니다.
  
  각각의 쿡북 챕터들은 데이터 바인딩, 컴포넌트 간 상호작용 그리고 HTTP 통한 원격 서버와의 커뮤니케이션과 같은 Angular 2의 특별한 기능 혹은
  애플리케이션을 위한 과제 등에 포커스를 둔 레시피 컬렉션입니다.
  
.l-sub-section
  :marked
    쿡북은 아직 진행 중입니다. 훨씬 더 많은 레시피들이 진행 중에 있습니다.
:marked
  각각의 쿡북 챕터들은 포함된 모든 레시피와 함께 라이브 샘플을 링크하고 있습니다.
  
  레시피는 의도적으로 간단하며 코드 중심적으로 작성하였습니다. 
  각각의 레시피는 개발자 가이드의 챕터 혹은 코드 스니펫 너머의 목적, 컨텍스트 그리고 디자인 선택 사항에 관해 좀 더 배울 수 있는 API 가이드를 링크하고 있습니다.
  
  ## 피드백
    
  쿡북은 계속해서 *진행될 겁니다*.
  그래서 피드백을 환영합니다! 배너의 우측 상단의 아이콘을 클릭하여 코멘트를 남겨주시기 바랍니다.
  
  [angular.io](https://github.com/angular/angular.io) github 저장소에 *문서* 이슈와 pull request를 포스트해주세요.
  
  [angular](https://github.com/angular/angular) github 저장소에는 *Angular 2 자체*의 이슈를 포스트해주시기 바랍니다.
// #enddocregion cookbook
